* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Instrument Sans', 'Lexend Deca';
}

body {
    height: 100vh;
}

nav {
    height: 6rem;
    margin: 1rem;
    border-radius: .5rem;
    background-color: #B5C1B3;
    transition: .5s height ease;
}

.nav-container {
    height: 100%;
    display: flex;
    padding: 1rem;
    align-items: center;
}

nav.expanded {
    height: 95vh;
}

nav img {
    width: 12rem;
    height: auto;
}

nav ul {
    padding: 0;
    display: flex;
    margin: 0 auto;
    list-style: none;
}

nav ul li {
    display: flex;
    margin: 0 auto;
    list-style: none;
}

nav ul li a {
    color: #ffffff;
    /* font-weight: 500; */
    text-decoration: none;
}

.nav-icons {
    display: flex;
    font-size: 1.6rem;
}

.nav-button {
    border: none;
    display: grid;
    color: #1e1e1e;
    background: none;
    place-content: center;
}