.shop-header {
    padding: 1rem;
}

.product-grid {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.product-card {
    height: 30rem;
    padding: .5rem;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.product-img {
    width: 100%;
    height: 70%;
    overflow: hidden;
    border-radius: 6px;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease;
}

.product-info {
    padding: .5rem .3rem;
}

.product-info h4 {
    font-weight: 600;
    transition: color .3s ease;
}

.product-img img:hover {
    transform: scale(1.1);
}

.product-img img:hover h4 {
    color: #edc9bb;
}

.product-buttons {
    display: flex;
    padding: .5rem .3rem;
    align-items: center;
    justify-content: space-between;
}

.product-buttons span,
.product-buttons a {
    font-weight: 500;
    font-size: 1.2rem;
}

.product-buttons a {
    display: flex;
    width: 2.4rem;
    height: 2.4rem;
    color: #ffffff;
    border-radius: 2rem;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    background-color: #B5C1B3;
    transition: width .3s ease;
}

.product-buttons a:hover {
    width: 60%;
}

.product-buttons a:active {
    background-color: #9dac9b;
}