.shop-header {
    padding: 1rem;
}

.product-grid {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.product-card {
    min-height: 30rem;
}

.product-img {
    width: 100%;
    height: 75%;
    overflow: hidden;
    border-radius: 4px;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease;
}

.product-info {
    margin-top: 1rem;
}

.product-info p {
    margin: 0;
    display: flex;
    width: min-content;
}

.product-info h4 {
    font-weight: 400;
    transition: color .3s ease;
}

.product-img img:hover {
    transform: scale(1.1);
}

.product-img img:hover h4 {
    color: #edc9bb;
}

.product-buttons {
    display: flex;
    padding: .5rem 0;
    align-items: center;
    justify-content: space-between;
}

.product-buttons span,
.product-buttons a {
    font-size: 1.2rem;
}

.product-buttons span {
    font-weight: 300;
}

.product-buttons a {
    display: flex;
    width: 2.4rem;
    height: 2.4rem;
    font-weight: 500;
    color: #ffffff;
    border-radius: 2rem;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    background-color: #B5C1B3;
    transition: width .3s ease;
}

.product-buttons a:hover {
    width: 50%;
}

.product-buttons a:active {
    background-color: #9dac9b;
}