{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'shop.css' %}">
{% endblock styles %}

{% block content %}
    <section id="shop">
        <div class="container-xxl shop-container">
            <div class="shop-header">
                <h1>Shop</h1>
                <p>Shop The Range</p>
            </div>
        </div>
        <section id="products">
            <div class="container-xxl product-grid">
                <div class="col product-col">
                    
                </div>
                <div class="col product-col">

                </div>
                <div class="col product-col">

                </div>
                <div class="col product-col">

                </div>
                <div class="col product-col">

                </div>
                <div class="col product-col">

                </div>
                <div class="col product-col">

                </div>
            </div>
        </section>
    </section>
{% endblock content %}