{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'shop.css' %}">
{% endblock styles %}

{% block content %}
    <section id="shop">
        <div class="container-fluid shop-container">
            <div class="shop-header">
                <h1>Shop</h1>
                <p>Shop The Range</p>
            </div>
        </div>
        <section id="products">
            <div class="container-fluid product-grid">
                {% for product in products %}
                    <div class="product-card">
                        <div class="product-img">
                            <a href="#">
                                <img src="{{ product.image.url}}" loading="lazy">
                            </a>
                        </div>
                        <div class="product-info">
                            <h5>{{product.name}}</h5>
                            <p>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                            </p>
                            <div class="product-buttons">
                                <span>R{{product.price}}</span>
                                <a href="#">
                                    <ion-icon name="bag"></ion-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </section>
{% endblock content %}